@page "/"
@using Demo.Core.ViewModels
@using Demo.Core.Models
@inherits Demo.BlazorApp.Helpers.ViewModelComponentBase<NotesViewModel>

<div class="d-flex justify-content-center">
    <div class="w-50 mt-5">
    <h3 class="mb-3">GESTOR</h3>

    <div class="input-group mb-3">
        <input type="text" class="form-control"
               placeholder="Escribe una nota..."
               @bind-value="Vm.NewNote"
               @bind-value:event="oninput" />
        <button class="btn btn-success"
                disabled="@(!Vm.AddNoteCommand.CanExecute(null))"
                @onclick="() => Vm.AddNoteCommand.Execute(null)">
            Agregar
        </button>
    </div>

    <ul class="list-group mb-3">
        @foreach (var note in Vm.Notes)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@note.Title</span>
                <button class="btn btn-sm btn-danger"
                        @onclick="() => Vm.RemoveNoteCommand.Execute(note)">
                    Eliminar
                </button>
            </li>
        }
    </ul>

    <p><b>Última acción:</b> @Vm.LastAction</p>

    </div>
    </div>

@code {

}
